/* ===== Глобальные стили */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ===== Стилизация хэдера */
.header {
  background-color: #eee;
}

.header__link .header__logo:hover,
.header__link .header__logo:focus {
  opacity: 0.8;
}

.header__link .header__logo:active {
  opacity: 0.3;
}

.menu__list,
.basket {
  list-style: none;
}

.menu__link,
.basket__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.menu__link:hover,
.menu__link:focus,
.basket__link:hover,
.basket__link:focus {
  color: #fb565a;
}

.menu__link:active,
.basket__link:active {
  color: #a6a6a6;
}

/* ===== Стилизация контентной части основной страницы */
.promo {
  background-color: #eee;
}

.promo__list {
  list-style: none;
}

.promo__slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.button {
  border: none;

  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;

  background-color: #fb565a;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.services__list {
  list-style: none;
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.button_apps {
  background-color: #00ca74;
}

.button_apps:hover,
.button_apps:focus {
  background-color: #00bc6c;
}

.button_apps:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button_presentation {
  background-color: #efc84a;
}

.button_presentation:hover,
.button_presentation:focus {
  background-color: #eab534;
}

.button_presentation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.about__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about__description {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.about__list {
  list-style: none;
}

.about__services {
  font: inherit;
}

.table {
  width: 350px;
  height: 100px;
}

.partners__list {
  list-style: none;
}

.partners__link .partners__img {
  opacity: 0.2;
}

.partners__link .partners__img:hover,
.partners__link .partners__img:focus {
  opacity: 1;
}

.partners__link .partners__img:active {
  opacity: 0.1;
}

/* ===== Стилизация контентной части страницы каталога*/


/* ===== Стилизация футера */
.map__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.map__addres {
  line-height: 18px;
  color: #666;
}

.footer__link {
  background-color: #e1e1e1;
}

.footer__img {
  fill: #fff;
}

.footer__link:hover,
.footer__link:focus {
  background-color: #e74246;
}

.footer__link:active {
  opacity: 0.3;

  background-color: #d7373b;
}

.footer__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

/* ===== Стилизация модального окна */
.footer__text {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.feedback__label {
  font-weight: 700;
  line-height: 18px;
}
