/* ===== Глобальные стили */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

/* ===== Стилизация хэдера */
.header {
  background-color: #eee;
}

.header__wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 49px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.header__link .header__logo:hover,
.header__link .header__logo:focus {
  opacity: 0.8;
}

.header__link .header__logo:active {
  opacity: 0.3;
}

.header__logo {
  margin-right: 202px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding-top: 15px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__link,
.basket-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.menu__link:hover,
.menu__link:focus,
.basket-link:hover,
.basket-link:focus {
  color: #fb565a;
}

.menu__link:active,
.basket-link:active {
  color: #a6a6a6;
}

/* ===== Стилизация контентной части основной страницы */
.promo {
  background-color: #eee;
}

.promo__wrapper,
.main__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.promo__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  padding-top: 58px;
  padding-bottom: 81px;

  background-position: 100% 0;
  background-repeat: no-repeat;
}

.promo__item_first-slide {
  background-image: url("../img/index/slider-1.png");
  background-position: 93% 0;
}

.promo__item_second-slide {
  display: none;

  background-image: url("../img/index/slider-2.png");
}

.promo__item_third-slide {
  display: none;

  background-image: url("../img/index/slider-3.png");
}

.promo__slogan {
  width: 515px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.promo__description {
  width: 415px;
  margin: 0;
  margin-bottom: 41px;

  letter-spacing: 0.2px;
}

.button {
  display: inline-block;
  border: none;
  padding: 16px 40px;

  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.button_promo-link {
  padding: 15px 54px;
}

.services {
  padding: 80px 0;

  border-bottom: 2px solid #eee;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  width: 300px;
  margin-right: 100px;
  padding-top: 171px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__item-sites {
  background-image: url("../img/index/web-sites.png");
}

.services__item-apps {
  background-image: url("../img/index/apps.png");
}

.services__item-presentations {
  margin-right: 60px;

  background-image: url("../img/index/presentations.png");
}

.services__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services__description {
  width: 260px;
  margin: 0;
  margin-bottom: 32px;

  color: #283136;
}

.button_apps {
  background-color: #00ca74;
}

.button_apps:hover,
.button_apps:focus {
  background-color: #00bc6c;
}

.button_apps:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button_presentation {
  background-color: #efc84a;
}

.button_presentation:hover,
.button_presentation:focus {
  background-color: #eab534;
}

.button_presentation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 46px;

  border-bottom: 2px solid #eee;
}

.about__left {
  flex-basis: 660px;
  padding-top: 34px;

  letter-spacing: 0.1px;
}

.about__title {
  margin: 0;
  margin-bottom: 33px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about__text {
  margin: 0;
  margin-bottom: 39px;
}

.about__description {
  margin: 0;
  margin-bottom: 24px;

  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.about__list {
  margin: 0;
  padding: 0;
  padding-left: 36px;

  list-style: none;
}

.about__item {
  margin-bottom: 24px;

  letter-spacing: 0.2px;
}

.about__services {
  margin: 0;

  font: inherit;
}

.about__right {
  flex-basis: 360px;
  padding-top: 244px;

  background-image: url("../img/index/nerds-section.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.about__description_align {
  text-align: center;
}

.table {
  width: 360px;
  padding-top: 24px;
}

.table__row {
  text-align: left;
}

.table__cell {
  padding-right: 16px;
  padding-bottom: 27px;

  font-size: 45px;
}

.table__percent {
  font-size: 29px;
}

.table__cell_regular {
  font-size: 16px;
  line-height: 18px;
}

.partners {
  padding-top: 42px;
  padding-bottom: 35px;

  border-bottom: 2px solid #eee;
}

.partners__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.partners__item {
  position: relative;

  flex-basis: 260px;
  margin-right: 40px;
}

.partners__item::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 278px;

  width: 2px;
  height: 52px;

  background-color: #eee;
}

.partners__item:last-child {
  margin-right: 0;
}

.partners__item:last-child::after {
  display: none;
}

.partners__link {
  display: block;
}

.partners__link .partners__img {
  opacity: 0.2;
}

.partners__link .partners__img:hover,
.partners__link .partners__img:focus {
  opacity: 1;
}

.partners__link .partners__img:active {
  opacity: 0.1;
}

/* ===== Стилизация контентной части страницы каталога*/
.promo-inner {
  padding-top: 50px;
  padding-bottom: 108px;
}

.promo__title {
  margin: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.main__wrapper-catalog {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 56px;
  box-sizing: border-box;
}

.filter {
  flex-basis: 300px;
}

.filter__fieldset {
  margin: 0;
  margin-bottom: 54px;
  border: none;
  padding: 0;
}

.filter__legend {
  margin-bottom: 48px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.filter__legend_margin {
  margin-bottom: 14px;
}

.range {
  position: relative;

  width: 260px;
  min-height: 80px;
  margin-bottom: 14px;

  background-color: #eee;
  border-radius: 3px;
}

.range__scale {
  position: absolute;
  top: 39px;
  left: 18px;

  width: 220px;
  height: 2px;

  background-color: #d7dcde;
}

.range__bar {
  width: 151px;
  height: 2px;

  background-color: #00ca74;
}

.range__toggle {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;
  border: 8px solid #fff;

  background-color: #ababab;
  border-radius: 50%;

  box-shadow: 0 2px 3px 0 rgba(171,171,171,.9);
  cursor: pointer;
}

.range__toggle:hover {
  transform: scale(1.1);
}

.range__toggle-min {
  left: 18px;
}

.range__toggle-max {
  right: 80px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.price-controls__label {
  flex-basis: 114px;

  text-transform: uppercase;
}

.price-controls__input {
  width: 80px;
  min-height: 38px;
  margin-left: 7px;
  border: none;
  box-sizing: border-box;

  text-align: center;

  background-color: #eee;
  border-radius: 3px;
}

.filter__list {
  margin: 0;
  padding: 0;
  padding-left: 37px;

  list-style: none;
}

.filter__item {
  position: relative;

  padding-bottom: 16px;
}

.filter__label {
  color: #283136;
  line-height: 20px;

  cursor: pointer;
}

.filter__label-radio::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;

  width: 27px;
  height: 27px;

  background-image: url("../img/catalog/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter__input:focus + .filter__label {
  outline: 2px solid #81b3d2;
}

.filter__input:checked + .filter__label-radio::before{
  background-image: url("../img/catalog/radio-on.svg");
}

.filter__label-radio:hover::before{
  opacity: 1;
}

.filter__label-radio:disabled::before{
  opacity: 0.1;
}

.button_filter {
  color: #000;

  background-color: #eee;
}

.button_filter:hover,
.button_filter:focus {
  background-color: #dfdfdf;
}

.button_filter:active {
  color: #959595;

  background-color: #d5d5d5;
}

.catalog-wrapper {
  flex-basis: 760px;
}

.sorting__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.sorting__list {
  list-style: none;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.sorting__link:hover,
.sorting__link:focus {
  color: #666;
}

.sorting__link:active {
  color: #000;
}

.sorting__link_active {
  color: #000;
}

.triangle-icon {
  fill: #ededed;
}

.triangle-icon:hover,
.triangle-icon:focus {
  fill: #a6a6a6;
}

.triangle-icon:active,
.triangle-icon_active {
  fill: #231f20;
}

.templates__title-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.templates__description {
  line-height: 18px;
  color: #666;
}

.pagination__list {
  list-style: none;
}

.pagination__link {
  font-weight: 500;
  line-height: 30px;
  color: #000;

  background-color: #eee;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: #dfdfdf;
}

.pagination__link:active {
  color: #959595;

  background-color: #d5d5d5;
}

.pagination__link_active {
  border: 2px solid #dbdbdb;

  background-color: #fff;
}

/* ===== Стилизация футера */
.map {
  position: relative;

  padding-top: 79px;

  overflow: hidden;
}

.map__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.map__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 54px 20px;
  box-sizing: border-box;
}

.map__contacts {
  width: 320px;
  padding: 50px;
  box-sizing: border-box;

  background-color: #fff;
}

.map__title {
  margin: 0;
  margin-bottom: 22px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.map__addres {
  margin: 0;
  margin-bottom: 37px;

  line-height: 18px;
  color: #666;

  letter-spacing: 0.3px;
}

.map__phone {
  display: inline-block;
  margin-top: 18px;
}

.button__modal {
  padding: 16px 44px;
}

.footer__socials {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 65px 20px;
  box-sizing: border-box;
}

.footer__list {
  display: flex;
  flex-basis: 260px;
  margin: 0;
  margin-right: 132px;
  padding: 0;

  list-style: none;
}

.footer__item {
  margin-right: 10px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;

  border-radius: 50%;

}

.footer__img {
  fill: #fff;
}

.footer__link:hover,
.footer__link:focus {
  background-color: #e74246;
}

.footer__link:active {
  opacity: 0.3;

  background-color: #d7373b;
}

.footer__title {
  margin: 0;
  margin-bottom: 7px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer_description {
  margin: 0;

  letter-spacing: 0.2px;
}

/* ===== Стилизация модального окна */
.feedback {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  display: none;
  width: 960px;
  padding: 70px 100px;

  background-color: #fff;

  box-sizing: border-box;
  box-shadow: 0 15px 40px 8px #5e5f5f;
}

.feedback__text {
  margin: 0;
  margin-bottom: 21px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.feedback__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
}

.feedback__label {
  flex-basis: 360px;

  font-weight: 700;
  line-height: 18px;
}

.feedback__input,
.feedback__textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  padding: 15px;

  border-radius: 3px;

  box-sizing: border-box;
}

.feedback__textarea {
  min-height: 115px;
  margin-bottom: 46px;

  resize: none;
}

.feedback__button {
  padding: 15px 80px;
}

.feedback__close {
  position: absolute;
  top: 75px;
  right: 83px;

  border: none;

  background-color: transparent;

  cursor: pointer;
}

.feedback__close-icon {
  fill: #fb565a;

  opacity: 0.3;
}

.feedback__close:hover .feedback__close-icon,
.feedback__close:focus .feedback__close-icon {
  fill: #fb565a;

  opacity: 1;
}

.feedback__close:active .feedback__close-icon {
  fill: #fb565a;

  opacity: 0.1;
}
